body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}